h1{
    background-color: black;
    color: white;
    font-size: 70px;
    text-align: center;
}
h2{
    background-color: aquamarine;
    color: black;
    font-size: 50px;
    text-align: center;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: green;
  }
