h1{
    font-size: 70px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-style: italic;
}
h3{
    background-color: aqua;
    color: black;
    text-align: center;
    font-size: 50px;
}
img{
    height: 499px;
    width: 360px;
    margin-left: 0%;
    

}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: green;
  }
